<table>
<tr>
<td> Employee ID </td>
<td> Name </td>
<td> Seat # </td>
<td> Total Hours </td>
</tr>
<tr>
<% @users.each do |user| %>
<td><%= user.id %></td>

<% if Seat.find_by(owner_id: user.id) %>
<td><a href="/users/<%=user.id %>?seat_id=<%=Seat.find_by(owner_id: user.id).id %>"><%= user.first_name %> <%= user.last_name %></a></td>
<td><%= Seat.find_by(owner_id: user.id).id %></td>

<% else %>
<td><a href="/users/<%= user.id %>"><%= user.first_name %> <%= user.last_name %></a></td>
<td>N/A</td>
<% end %>
<td><%= user.total_hours %></td>
</tr>
<% end %>

</table>