<h1>Seats</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @seats.each do |seat| %>
      <tr>
        <td>Seat Number</td>
        <td>Owner</td>
      </tr>
      <tr>
        <td><%= seat.id %></td>
        <% if seat.owner %>
        <td><%= seat.owner.first_name %></td>
        <% else %>
        <td>N/A</td>
        <% end %>
        <td><%= link_to 'Show', seat %></td>
        <td><%= link_to 'Remove', seat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seat', new_seat_path %>
