<h1>Hello</h1>

<table>

	<thead>
		<tr>
			<td>Total Seats:</td>
			<td><%= @seats.count %></td>
		</tr>
		<tr>
			<td>Total Users:</td>
			<td><%= @users.count %></td>
		</tr>
	</thead>
</table>
<%= render 'seats/ordered', layout: false %>

<table>
	<tbody>
		<tr>
			<th><%= link_to 'Edit Users', users_path %></th>
			<th><%= link_to 'Edit Seats', seats_path %></th>
			<th><%= link_to 'Reset Seating Arrangements', seats_reseat_path %></th>
			<th colspan="3"></th>
		</tr>
	</tbody>
</table>
