<h1>Hello</h1>

<table>

	<thead>
		<tr>
			<td>Total Seats:</td>
			<td><%= @seats.count %></td>
		</tr>
		<tr>
			<td>Total Users:</td>
			<td><%= @users.count %></td>
		</tr>
	</thead>
</table>
<%= render 'seats/ordered', layout: false %>

<table>
	<tbody>
		<tr>
			<th><%= link_to 'Edit Users', users_path %></th>
			<th><%= link_to 'Edit Seats', seats_path %></th>
			<th><%= link_to 'Reset Seating Arrangements', seats_reseat_path %></th>
			<th colspan="3"></th>
		</tr>
	</tbody>
</table>

<h2>This is the video</h2>

<iframe id="video_player" src="http://fast.wistia.net/embed/iframe/qv0hemx7ev" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="388"></iframe>
<script src="http://fast.wistia.net/assets/external/E-v1.js" async></script>


<script>
	window._wq = window._wq || [];
	_wq.push({ "video": function(video) {
		console.log("I got a handle to the video!", video)
	  video.bind("play", function() {
		  analytics.track('Played Video', {
				title: video.name(),
				id: video.hashedId(),
				duration: video.duration()
	  	})
		});

		video.bind("pause", function() {
			if (video.time() < parseInt(video.duration())) {
	      analytics.track('Paused Video', {
	        title: video.name(),
	        id: video.hashedId(),
	        pausedAt: video.time()
	      });
    	};
		});

		video.bind("end", function() {
		  analytics.track('Finished Video', {
				title: video.name(),
				id: video.hashedId(),
				duration: video.duration()
	  	})
  	});	

	}});
</script>

